.add-tech{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
textarea{
    margin-top: 10px;
    margin-bottom: 10px;

    height: 50px;
}


.fields p {
    color: red;
}
.btn{
    margin-top: 50px;
}